<h1 mat-dialog-title>Dados do Cliente</h1>
<div mat-dialog-content>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ client?.name }}</mat-card-title>
      <mat-card-subtitle>Código: {{ client?._id }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="{{ client?.image_src }}" alt="Imagem">
    </mat-card-content>
    <mat-card-actions>
      <div class="card-content">
        <div style="margin-bottom: auto;">
          Empreendimentos: {{ totals?.enterprises }}
        </div>
        <div>
          Imóveis: {{ totals?.realties }}
        </div>
      </div>
      <div class="card-content" style="margin-top: 5px;">
        <button (click)="viewEnterprises(client?._id)">Ver Empreendimentos</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
</div>
