mat-form-field {
  width: 60%;
}

mat-card-content {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 300px;
}

.card-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.card {
  width: 450px;
  min-width: 250px;
  min-height: 400px;
  margin: 15px;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;

  font-weight: 430;
  font-size: 11pt;
}

.card-content div {
  display: flex;
}
