<div class="container">
  <h3>Empreendimentos</h3>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Pesquisar por cliente</mat-label>
      <input matInput placeholder="Digite o nome do cliente">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </p>
  <div class="card-area">
    <div *ngFor="let enterprise of enterprises">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            <a
              style="cursor: pointer;"
              (click)="openDialog(enterprise.id)"
            >
              {{ enterprise.name }}
            </a>
          </mat-card-title>
          <mat-card-subtitle>Código: {{ enterprise._id }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="{{ enterprise.image_src }}" alt="Imagem">
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
