<div class="container">
  <h3>Clientes</h3>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Pesquisar</mat-label>
      <input matInput placeholder="Digite o nome do cliente" [(ngModel)]="filter" (ngModelChange)="onChangeFilter()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </p>
  <div class="card-content">
    <mat-card style="width: 30%;">Clientes: {{ totalClients }}</mat-card>
    <mat-card style="width: 30%;">Empreendimentos: {{ totalEnterprises }}</mat-card>
    <mat-card style="width: 30%;">Imóveis: {{ totalRealties }}</mat-card>
  </div>
  <div class="card-area">
    <div *ngFor="let client of clients">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            <a
              style="cursor: pointer;"
              (click)="openDialog(client.id)"
            >
              {{ client.name }}
            </a>
          </mat-card-title>
          <mat-card-subtitle>Código: {{ client.id }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="{{ client.image_src }}" alt="Imagem">
        </mat-card-content>
        <mat-card-actions>
          <div class="card-content">
            <div style="margin-bottom: auto;">
              Empreendimentos: {{ client.totals.enterprises }}
            </div>
            <div>
              Imóveis: {{ client.totals.realties }}
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
